doctype html
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title petHome
	link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/navbar.css')
	script(src='/javascripts/ie-emulation-modes-warning.js')
	<!--[if lt IE 9]>
	script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')    
	script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
	<![endif]-->
	script(src='/javascripts/jquery.min.js')
	script(src='/bootstrap/js/bootstrap.min.js')
	script(src='/javascripts/ie10-viewport-bug-workaround.js')
body
	.container
		nav(class='navbar navbar-default')
			.container-fluid
				.navbar-header
					button(type='button',name='agreement',class='navbar-toggle collapsed',data-toggle='collapse',data-target='#navbar',aria-expanded='false',aria-controls='navbar')
						span(class='sr-only') Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a(class='navbar-brand' href='#') 宠物之家
				#navbar(class='navbar-collapse collapse')
					ul(class='nav navbar-nav')
						block navbar
		block content
